<div
  class="bg-primary py-3 text-white d-flex justify-content-between align-items-center"
  role="banner"
>
  <div>
    <img
      width="40"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
    <span class="fw-bold">ONLINE COURSES TRACKER</span>
    <div class="spacer"></div>
  </div>
  <div class="d-flex justify-content-between align-items-center">
    <p class="mx-3 m-0 fw-bold">COUPONS</p>
    <p class="mx-3 m-0 fw-bold">FREE</p>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <div class="mx-3 fw-bold">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
    <div class="mx-3 fw-bold">
      <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
    <div class="mx-3 fw-bold">
      <i class="fa fa-user-circle" aria-hidden="true"></i>
    </div>
  </div>
</div>


